<div class="container">
    <div class="page-header">
        <h5>已完成的API</h5>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <!-- 用户中心 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h6>用户中心</h6>
                    </div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>注册: POST api/v1/signup</li>
                        <li>登录: POST api/v1/login</li>
                        <li>重置密码: PUT api/v1/users/:userId/resetPassword</li>
                        <li>获取用户信息: GET api/v1/users/:userId</li>
                        <li>修改用户信息: PUT api/v1/users/:userId</li>
                        <li>授权Github: GET api/v1/github/auth/:code</li>
                        <li>获取令牌: GET api/v1/github/token/:githubId</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <!-- 文章 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h6>文章</h6>
                    </div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>查询文章列表: POST api/v1/posts?page&perPage</li>
                        <li>新增文章: POST api/v1/post</li>
                        <li>修改文章: PUT api/v1/posts/:postId</li>
                        <li>删除文章: DELETE api/v1/posts/:postId</li>
                    </ul>


                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <!-- 管理中心 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h6>管理中心</h6>
                    </div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>查询用户列表: POST api/v1/users?page&perPage</li>
                        <li>修改用户状态: PUT api/v1/users/:userId/:status</li>
                        <li>注销用户: DELETE api/v1/users/:userId</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>