<div class="jumbotron">
    <div class="container">
        <h1>
            <%= words %>
        </h1>
        <p class="lead">人生而茫然，读书，帮助我们拨开眼前的迷雾，寻找到属于自己的路。</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/posts" role="button">立即进入</a>
        </p>
    </div>
</div>

<script>
    const code =window.location.search.slice(1).split('=')[1];
    // fetch('http://localhost:3000/api/v1/github/info/' + code).then(res => res.json()).then(data => console.log(data));
    fetch('http://localhost:3000/api/v1/github/oauth/' + code).then(res => res.json()).then(data => console.log(data));
    // $(function(){
    //     setTimeout(function(){
    //         window.location.href = '/posts'
    //     }, 3000)
    // })
</script>